@import "tailwindcss";

html {
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important
}

:root {
  --background: 
#ffffff;
  --foreground: 
#171717;
  --main: #51e;
  --accent: 
#f7f7f7;
  --secondary: 
#1f1926;
  --icon-color: 
#d9d9d9;
  --purple-light: 
#763aff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: 
#ededed;
  }
}

body {
  font-family: 'Schibsted Grotesk', sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  width: 100vw
}

::selection {
  background-color: rgba(255, 217, 0, 0.705);
  color: 
#2a2a2a;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.purplespan {
  /* color: var(--main); */
}

.popupmsg {
  position: absolute;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.popupmsg div {
  height: 30%;
  background-color: 
#1f1926;
  margin: 30px;
  margin-top: -10%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 21px;
  font-weight: 600;
  font-size: 1.4rem;
  flex-direction: column;
}

.popupmsg button {
  margin-top: 10px;
  background-color: crimson;
  padding: 7px 11px 7px 11px;
  border-radius: 21px;
}

.msgnyan {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:start;

}

.msgnyan img {
  width: 5% !important;
  animation: fly 3s forwards;
  position: relative;
  left: 0;
}

@keyframes fly {
  to {
    left: 100%;
    display: none;
  }

}

.msgnyan p {
  text-align: center;
  visibility: hidden;
}

.darkspan {
  color: 
#1f1926;
}

.invert {
  filter: invert(100%);
}

.bgp {
  background-color: var(--main);
}

.doublequotes {
  color: 
#763aff;
}

.contacthead {
  display: flex;
  flex-direction: column;

}

.fb {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.iconcont {
  width: max-content;
  display: flex;
  align-items: last baseline;
  gap: 4px
  ;
}

.round-bg-effect {
  transition: 0.7s all ease-in-out;
  min-height: 0;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  padding-left: 4rem;
    padding-right: 4rem;

}

.darkbg {
  background-color: 
#1f1926;
  z-index: 0;
  width: 100vw;
  min-height: max-content;
 padding-bottom: 4%;
}

.whitehead h2 {
  color: 
#f7f7f7;
}

@media screen and (max-width: 468px) {
  .skillicon {
    background-color: rebeccapurple;
  }

  .contacthead {
    flex-direction: column;
  }
}

.invert {
  filter: invert(1);
}